console.log('Running upvote.js.erb...')

$('#vote-button-wrapper').replaceWith('<div id="vote-button-wrapper"><%= link_to "Voted", "/posts/#{@post_id}/votes/unvote?post_id=#{params[:id]}", method: "post", class: 'button-success button-block', remote: true %></div>')
$('#vote-count').replaceWith('<span id="vote-count"><%= "#{@post.votes.sum(:vote_type)} #{"upvote".pluralize(@post.votes.sum(:vote_type))}" %><span>')

console.log('Done.')